/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*our frame work*/
:root {
    --main-color: #a8dda8
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.formBack {
    margin-top: 50px;
    background: url('../images/back.jpeg') center center fixed no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

    .formBack .layout {
        background: rgba(1, 1, 1, .8);
        background-size: cover;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 130px;
        padding-left:30px
    }

.formBack {
    color: #fff;
    font-size: 20px
}

    .formBack a {
        color: #617761;
    }
    .formBack .btn {
        background-color: var(--main-color);
    }

.btnMainColor {
    background-color: var(--main-color);
    color: #617761;
    font-weight: bold
}

.field-validation-error, .validation-summary-errors {
    color: red;
    font-size: 18px;
    font-weight: bold
}

.input-validation-error {
    border: 2px solid red
}
