@{
    ViewBag.Title = "Submit";
}

<section class="add text-center">
    <h2 class="margin">Submit</h2>
    <h2 style="margin-bottom:50px">Sussessfull Submit, Will be contact you Soon with Your Phone</h2>
    <a class="btn" href="/Doners/Doners">Back</a>
</section>

