
@{
    ViewBag.Title = "CommonQustion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/contact.css" rel="stylesheet" />
<!-- start common question -->
<div class="add">
<div class="common">
    <h1>common question about covid-19!!</h1>
    <section>
        <details>
            <summary>What are some of the most common symptoms of the coronavirus disease?</summary>
            <p>
                The most common symptoms of COVID-19 are fever, dry cough, and tiredness.
                Other symptoms that are less common and may affect some patients include loss of taste or smell,
                aches and pains, headache, sore throat, nasal congestion, red eyes, diarrhoea, or a skin rash.
            </p>
        </details>

        <details>
            <summary>What is the difference between people who have asymptomatic or pre-symptomatic COVID-19?</summary>
            <p>
                Both terms refer to people who do not have symptoms.
                The difference is that ‘asymptomatic’ refers to people who are infected but never develop any symptoms,
                while ‘pre-symptomatic’ refers to infected people who have not yet developed symptoms but go on to develop symptoms later.
            </p>
        </details>


        <details>
            <summary>Can COVID-19 be transmitted through feces or urine?</summary>
            <p>
                SARS-CoV-2 RNA has also been detected in other biological samples, including the urine and feces of some patients.
                One study found viable SARS-CoV-2 in the urine of one patient. Three studies have cultured SARS-CoV-2 from stool specimens.
                To date, however, there have been no published reports of transmission of SARS-CoV-2 through feces or urine.
            </p>
        </details>

        <details>
            <summary>Are smokers more vulnerable to contracting COVID-19?</summary>
            <p>
                Tobacco smokers (cigarettes, waterpipes, bidis, cigars, heated tobacco products) may be more vulnerable to contracting COVID-19,
                as the act of smoking involves contact of fingers (and possibly contaminated cigarettes) with the lips,
                which increases the possibility of transmission of viruses from hand to mouth.

            <p>
                Smoking waterpipes, also known as shisha or hookah, often involves the sharing of mouth pieces and hoses,
                which could facilitate the transmission of the COVID-19 virus in communal and social settings.
            </p>
            </p>
        </details>

        <details>
            <summary>What food should you avoid during COVID-19?</summary>
            <ul>
                <li>When cooking and preparing food, limit the amount of salt and high-sodium condiments (e.g. soy sauce and fish sauce). </li>
                <li>Limit your daily salt intake to less than 5 g (approximately 1 teaspoon), and use iodized salt.</li>
                <li>Avoid foods (e.g. snacks) that are high in salt and sugar. </li>
                <li>
                    Limit your intake of soft drinks or sodas and other drinks that are high in sugar
                    (e.g. fruit juices, fruit juice concentrates and syrups, flavoured milks and yogurt drinks).
                </li>
                <li>Choose fresh fruits instead of sweet snacks such as cookies, cakes and chocolate.</li>
            </ul>
        </details>

        <details>
            <summary>Who is most at risk for COVID-19?</summary>
            <p>
                COVID-19 is often more severe in people 60+yrs or with health conditions like lung or heart disease,
                diabetes or conditions that affect their immune system.
            </p>
        </details>

        <details>
            <summary>What is the incubation period of the coronavirus disease?</summary>
            <p>
                The incubation period of COVID-19, which is the time between exposure to the virus and symptom onset, is on average 5-6 days,
                but can be as long as 14 days. Thus, quarantine should be in place for 14 days from the last exposure to a confirmed case.
            </p>
        </details>

        <details>
            <summary>Can COVID-19 be transmitted between humans and animals?</summary>
            <p>
                Available evidence suggests that the virus is predominantly transmitted between people through respiratory droplets and close
                contact, but there are also examples of transmission between humans and animals.
                Several animals that have been in contact with infected humans, such as minks, dogs, domestic cats, lions and tigers,
                have tested positive for SARS-CoV-2
            </p>
        </details>

        <details>
            <summary>How is COVID-19 transmitted?</summary>
            <p>
                Current evidence suggests that transmission of SARS-CoV-2 occurs primarily between people through direct, indirect,
                or close contact with infected people through infected secretions such as saliva and respiratory secretions,
                or through their respiratory droplets, which are expelled when an infected person coughs, sneezes, talks or sings.
            </p>
        </details>

        <details>
            <summary>Does WHO recommend the use of dexamethasone for COVID-19 patients?</summary>
            <h4>Recommendation 1:</h4>
            <p>
                WHO strongly recommends that corticosteroids (i.e. dexamethasone, hydrocortisone or prednisone) be given orally
                or intravenously for the treatment of patients with severe and critical COVID-19.
            </p>

            <h4>Recommendation 2:</h4>
            <p>
                WHO advises against the use of corticosteroids in the treatment of patients with non-severe COVID-19,
                unless the patient is already taking this medication for another condition.
            </p>
        </details>

        <details>
            <summary>Does consuming alcohol kill Covid-19?</summary>
            <p>
                Consuming alcohol will not destroy the virus, and its consumption is
                likely to increase the health risks if a person becomes infected with the
                virus. Alcohol (at a concentration of at least 60% by volume) works as a
                disinfectant on your skin, but it has no such effect within your system
                when ingested.
            </p>
        </details>


    </section>
</div>
    </div>


<!-- end common question -->
