<!DOCTYPE html>
<html lang="ar">
<script>
    function deletePost() {
        var ask = window.confirm("Do you want to translate this page into English?");
        if (ask) {
            window.location.href = "/home/instruction";
        }
    }
</script>
@{
    ViewBag.Title = "Instructions";
}
<!--my page -->
<div class="add" style="margin-top:-100px">
<button class="translate1" onclick="deletePost()">ترجمه للانجليزي</button>
<div class="arabic1">
    <h3>
        راجع الإرشادات التالية الصادرة عن منظمة الصحة العالمية حول كيفية البقاء بأمان. يرجى ملاحظة أن ارتداء الكمامات وحدها لا يمنع ظهور فيروس كورونا (كوفيد -19) ،
        وأن حكومة الإمارات توصي بارتداء   القفازات :
    </h3>

    <ul>

        <li>
            الالتزام بقواعد التباعد المكاني ، والابتعاد عن الآخرين بمسافة مترين: وذلك لسهولة انتقال الفيروس من خلال قطرات الرذاذ الصغيرة الناتجة عن السعال والعطس ،
            ويمكن أن ينتشر أيضًا من خلال الاتصال اليومي ، مثل المصافحة أو مشاركة الأشياء أو لمس الأسطح الشائعة.
        </li>
        <li>ارتدِ قناعًا وقفازات عند الخروج من المنزل ؛ تعلم كيفية استخدام القناع بأمان.</li>
        <li>
            تجنب المصافحة والتقبيل والثرثرة. تجنب لمس وجهك وخاصة عينيك وأنفك وفمك: تلامس اليدين العديد من الأسطح ويمكن أن تصاب بالفيروسات ، وإذا تلوثت اليدين فقد تنقل الفيروس إلى العينين ،
            الأنف أو الفم ، ويمكن للفيروس أن يدخل الجسم عبر هذه المنافذ ويجعلك مريضاً.
        </li>
        <li>تجنب الحيوانات (الحية أو الميتة) وأسواق الحيوانات والمنتجات التي تأتي من الحيوانات (مثل اللحوم غير المطهية) .</li>
        <li>تجنب الاتصال الوثيق مع أي شخص تظهر عليه أعراض أمراض الجهاز التنفسي.</li>
        <li>
            اغسل يديك بالماء والصابون لمدة 20 ثانية على الأقل وقم بتطهيرها بمطهر يدين يحتوي على الكحول كلما أمكن ذلك:
            يقتل الفيروسات التي قد تكون عليها ، وغسل اليدين له فائدة كبيرة في الوقاية من الأمراض والاعتياد على هذه العادة يمكن أن يكون له دور كبير في حماية صحتك.
        </li>
        <li>استخدم معقم اليدين إذا لم يتوفر الماء والصابون.</li>
        <li>
            كن حذرًا في ممارسات النظافة الشخصية: عند العطس أو السعال ، استخدم منديلًا ، وإذا لم يكن لديك منديل ، فاستخدم كوعك لقمع العطس أو السعال ، ثم تخلص فورًا من المناديل المستخدمة ،
            وذلك لمنع وصول الرذاذ الذي يحتوي على الفيروس إلى الآخرين وإصابتهم.
        </li>
        <li>لا تسافر إذا ظهرت عليك أي أعراض مرضية.</li>
        <li>
            تجنب التواجد في الأماكن المزدحمة: فوجودك في التجمعات يزيد من فرص الإصابة ،
            بسبب صعوبة الحفاظ على مسافة آمنة بينك وبين الآخرين.
        </li>
    </ul>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZL0iiEDh838" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
	encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/lnh1MJdibyQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
	encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div class="arabic2">
    <h3>إذا شعرت ببعض الأعراض:</h3>
    <ul>
        <li>
            ابق في المنزل وعزل نفسك إذا شعرت بأي أعراض بسيطة: من الضروري تجنب الاتصال بالآخرين حتى لو كانت الأعراض خفيفة مثل الصداع وسيلان الأنف البسيط حتى تتعافى تمامًا ،
            وإذا تطلب الأمر مساعدة شخص ما احضر
            الإمدادات التي تحتاجها لأن تجنب الاتصال بالأشخاص سيحميهم من احتمال الإصابة بالفيروس.
        </li>
        <li>
            اطلب المشورة الطبية فورًا إذا كنت تعاني من الحمى والسعال وصعوبة التنفس:
            قد تكون مصابًا بعدوى في الجهاز التنفسي أو مرض خطير آخر ، فاتصل قبل الذهاب إلى مقدم الرعاية و
            أخبره إذا كنت قد سافرت أو كنت قد اتصلت بأي مسافر آخر مؤخرًا ، لأن اتصالك السابق بمقدم الرعاية سيسمح لك بتوجيهك بسرعة إلى
            مرفق رعاية صحية مناسب ، سيساعد هذا أيضًا في منع أي انتشار محتمل للفيروس الذي يسبب Covid-19 والفيروسات الأخرى.
        </li>
        <li>
            تعرف على الطيف الكامل لأعراض COVID-19. الأعراض الأكثر شيوعًا لـ Covid-19 هي الحمى والسعال الجاف والتعب. تشمل الأعراض الأخرى الأقل شيوعًا التي قد تؤثر على بعض المرضى فقدان
            طعم أو رائحة ، آلام وأوجاع ، صداع ، التهاب في الحلق ، احتقان بالأنف ، عيون حمراء ، إسهال وطفح جلدي.
        </li>

    </ul>
</div>
<div class="arabic3">
    <h3>فيما يلي القواعد الأساسية لارتداء الكمامة:</h3>
    <ol>
        <li>نظف يديك قبل ارتداء الكمامة وقبل خلعها وبعدها.</li>
        <li>تأكد من أنه يغطي أنفك وفمك وذقنك.</li>
    </ol>
    <div>
        <p>الطريقة الصحيحة لاستخدام كمامات القماش</p>
        <img style="margin-left: 450px;" src="https://u.ae/-/media/Images-June-2020/Masks/Clothing-masks-infographic-Ar-2.ashx?h=350&w=350&la=ar-AE&hash=3E280B3E7516FA0A8BD71FECB94C67973F5BB716">
        <img src="https://u.ae/-/media/Images-June-2020/Masks/Clothing-masks-infographic-Ar-1.ashx?h=350&w=350&la=ar-AE&hash=4697395B00B36332381A557FF30C76DDDB6D9FBB">
        <p>الطريقة الصحيحة لاستخدام الكمامات الطبية</p>
        <img style="margin-left: 450px;" src="https://u.ae/-/media/Images-June-2020/Masks/Medical-masks-infographic-Ar-02.ashx?h=350&w=350&la=ar-AE&hash=6C6A8C7CCB053A75B685EF68E4544EC619F47CC4">
        <img src="https://u.ae/-/media/Images-June-2020/Masks/Medical-masks-infographic-Ar-01.ashx?h=350&w=350&la=ar-AE&hash=99DE809AF20505814D36ECBCE5BB8704C6C3C367">
    </div>
    <h3>
        فيما يلي بعض التفاصيل المحددة حول نوع القناع الذي يجب أن ترتديه ومتى يجب أن ترتديه ،
        اعتمادًا على مدى انتقال الفيروس في المكان الذي تعيش فيه ، وأين تذهب ومن أنت.
    </h3>
    <p>
        ارتد كمامة من القماش ، إلا عندما تكون في مجموعة ذات مستويات عالية من المخاطرة. هذا مهم بشكل خاص إذا كنت لا تستطيع الحفاظ على المسافة الجسدية ، خاصة في الأماكن الداخلية المزدحمة
        التي تفتقر إلى التهوية الجيدة.
    </p>
    <P>
        ارتد قناع طبي / جراحي إذا كنت:
        <ul style="   list-style-type: circle; margin-right: 95px; font-size: 25px;text-align: right;  direction: rtl;">
            <li>تجاوزت الستين من العمر.</li>
            <li>و / أو يعانون من حالات طبية أساسية.</li>
            <li>و / أو تشعر بتوعك.</li>
            <li>و / أو يتم توفير الرعاية لأحد أفراد الأسرة المريض.</li>
        </ul>
    <p>
        تعتبر الأقنعة الطبية من معدات الحماية الشخصية الأساسية للعاملين الصحيين عندما يتفاعلون مع المرضى الذين يشتبه في إصابتهم بعدوى COVID-19 أو محتملة أو مؤكدة يجب أن تكون أقنعة التنفس (مثل FFP2 و FFP3 و N95 و N99)
        تُستخدم عند تنفيذ إجراءات توليد الهباء الجوي ، ويجب تعديلها لضمان استخدام الحجم الصحيح.

    </p>

</div>
    </div>

<!--end my page-->
</html>
