<script>
    function deletePost() {
        var ask = window.confirm("Do you want to translate this page into arabic?");
        if (ask) {
            window.location.href = "/Home/instructionArabic";
        }

    }
</script>
@{
    ViewBag.Title = "Instructions Page";
}
<!--my page -->
<div class="add" style="margin-top:-100px">
    <button class="translate btn" onclick="deletePost()">for Arabic</button>

    <div class="HTPYS">
        <h3>
            Refer to the following guidelines issued by the World Health Organization on how to stay safely. Please note that wearing masks alone does not prevent the emerging corona virus (Covid-19),
            and that the UAE government recommends wearing gloves :
        </h3>

        <ul>

            <li>
                Adhere to the rules of spatial distancing, and keep a distance of two meters from others:This is because the virus is easily transmitted through the droplets of small droplets produced from coughing and sneezing,
                and it can also spread through daily contact, such as shaking hands, sharing things, or touching common surfaces.
            </li>
            <li>Put on a mask and gloves when going out of the house; Learn how to use a mask safely.</li>
            <li>
                Avoid shaking hands, kissing, and babbling. Avoid touching your face, especially your eyes, nose and mouth:The hands touch many surfaces and can catch viruses, and if the hands become contaminated, they may transmit the virus to the eyes,
                nose or mouth, and the virus can enter the body through these ports and make you ill.
            </li>
            <li>Avoid animals (alive or dead),animal markets and products that come from animals(such as uncooked meat). </li>
            <li>Avoid close contact with anyone showing symptoms of respirstory illness.</li>
            <li>
                Wash hands often with soap and water for at least 20 seconds and disinfect them with an alcohol-based hand sanitizer whenever possible:
                It would kill viruses that may be on them, and hand washing has a great benefit in preventing disease and getting used to this habit can have a major role in protecting your health
            </li>
            <li>Use hand sanitizer if soap and water are not available.</li>
            <li>
                Be careful with personal hygiene practices: When you sneeze or cough, use a tissue, and if you do not have a tissue, use your elbow to suppress a sneeze or cough, and then immediately dispose of the used tissues,
                in order to prevent the spray that contains the virus from reaching others and infecting them.
            </li>
            <li>Do not travel if you develop any illness symptoms.</li>
            <li>
                Avoid being in crowded places: your presence in gatherings increases your chances of infection,
                due to the difficulty in maintaining a safe distance between you and others.
            </li>
        </ul>


        <iframe width="700" height="315" src="https://www.youtube.com/embed/xVu_I6WCsto" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="Corona_symptoms">
        <h3>if you feel some symptoms :</h3>
        <ul>
            <li>
                Stay at home and isolate yourself if you feel any simple symptom: It is necessary to avoid contact with others even if the symptoms are mild such as headache and a simple runny nose until you recover completely, and if the matter requires the assistance of someone to bring
                the supplies you need because avoiding contact with people will protect them from the possibility Virus infection.
            </li>
            <li>
                Seek medical advice immediately if you have a fever, cough and difficulty breathing:
                you may have a respiratory infection or other severe illness, and call before going to the caregiver and
                tell him if you have traveled or have had contact with any other travelers recently, because your prior contact with the caregiver will allow By directing you quickly to the appropriate health care facility, this will also help prevent any possible spread of the virus that causes Covid-19 and other viruses.
            </li>
            <li>Learn the full spectrum of COVID-19 symptoms. The most common symptoms of Covid-19 are fever, dry cough and fatigue. Other less common symptoms that may affect some patients include loss of taste or smell, pains and aches, headache, sore throat, nasal congestion, red eyes, diarrhea, and rash.</li>

        </ul>
    </div>
    <div class="BRFWM">
        <h3>Here are the basic rules for wearing a muzzle :</h3>
        <ol>
            <li>Clean your hands before putting on the muzzle, and before and after taking it off.</li>
            <li>Make sure it covers your nose, mouth, and chin.</li>
        </ol>
        <div>
            <p>The correct way to use fabric muzzles</p>
            <iframe width="650" height="315" src="https://www.youtube.com/embed/ciUniZGD4tY" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
	encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>The correct way to use medical muzzles</p>
            <iframe width="650" height="315" src="https://www.youtube.com/embed/OABvzu9e-hw" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
	encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <h3>
            Here are some specific details about the type of mask that you should wear and when it should be,
            depending on the extent of the virus transmission in the place you live in, where you go and who you are.
        </h3>
        <p>Wear a cloth muzzle, except when you are in a group with high levels of risk. This is especially important if you cannot maintain physical distancing, especially in crowded indoor spaces that lack good ventilation.</p>
        <P>
            Wear a medical / surgical mask if you:
            <ul style="    list-style-type: circle; margin-right: 75px; font-size: 25px;">
                <li>Are over 60 years of age.</li>
                <li>And / or suffer from underlying medical conditions.</li>
                <li>And / or feel unwell.</li>
                <li>And / or care is provided to a sick family member.</li>
            </ul>
        <p>
            Medical masks are an essential personal protective equipment for health workers when they interact with patients with suspected, potential, or confirmed COVID-19 infection. Respirator masks (such as FFP2, FFP3, N95, and N99) should be
            used where aerosol-generating procedures are performed, and they should be adjusted to ensure the correct size is used.

        </p>


        </p>

    </div>
    </div>

    <!--end my page-->
